body {
    background-color: bisque;
}

h1 {
    text-align: center;
    justify-content: center;
}
form {
    text-align: center;
}
#p1G {
    text-align: left;
}

#p2G {
    text-align: right;
}

section.playerGuessHx {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
